.header {
    display: flex;
    justify-content: center;
  }

#game{
    text-align: center;
}

button{
    transition: background-color 0.3s ease;
}

#rock:hover {
    background-color: red;
}
#scissors:hover {
    background-color: blue;
}
#paper:hover {
    background-color: greenyellow;
}

#result {
    opacity: 0;
    transition: opacity 1.2s ease;
}
#result.show {
    opacity: 1;
  }